@page
@model IndexModel
@{
    ViewData["Title"] = "Movie Database";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortBy="title" asp-route-isAscending="@(Model.SortBy == "title" ? !Model.IsAscending : true)">Title</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortBy="duration" asp-route-isAscending="@(Model.SortBy == "duration" ? !Model.IsAscending : true)">Duration</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortBy="releaseDate" asp-route-isAscending="@(Model.SortBy == "releaseDate" ? !Model.IsAscending : true)">Release Date</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortBy="rating" asp-route-isAscending="@(Model.SortBy == "rating" ? !Model.IsAscending : true)">Rating</a>
            </th>
        </tr>
    </thead>
    <div>
        <form asp-page="CreateNewMovie" asp-page-handler="CreateNewMovie" method="get">
            <button class="btn btn-sm btn-success">
                Create Movie
            </button>
        </form>
        <div style="margin-top: 10px;"></div>
        <form asp-page="Search" asp-page-handler="Search" method="get">
            <input type="text" name="MovieName" placeholder="Movie Title" value="" />
            <input type="text" name="ReleaseYear" placeholder="Year" style="width: 60px;" min="1800" max="2099" value="" />
            <button class="btn btn-sm btn-success">
                Search
            </button>
            <div class="error-message" style="font-size: 20px;">
                <b>@TempData["ErrorMessage"]</b>
            </div>
        </form>
        <div style="margin-top: 10px;"></div>

        <form asp-page="Index" asp-page-handler="Filter" method="get">
            <input type="text" name="FilterValue" placeholder="Filter Value" value="" />
            <select asp-for="SelectedFilter" asp-items="@(new SelectList(ViewData["SelectionOptions"] as List<SelectListItem>, "Value", "Text"))">
                <option value="">-- Select Filter --</option>
            </select>
            <button class="btn btn-sm btn-success">
                Filter
            </button>
        </form>


    </div>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                    min.
                </td>
                <td>
                    @Convert.ToDateTime(item.ReleaseDate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)%

                </td>
                <td>
                    <form asp-page="Update" asp-page-handler="update" asp-route-id="@item.id" method="post">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Update
                        </button>
                    </form>
                </td>
                <td>
                    <form asp-page="Index" asp-page-handler="delete" asp-route-id="@item.id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
                <td>
                    <form asp-page="Actors" asp-page-handler="actors" asp-route-id="@item.id" method="post">
                        <button type="submit" class="btn btn-sm btn-info">
                            Actors
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>