@page
@model IndexModel
@{
    ViewData["Title"] = "Movie Database";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Duration
            </th>
            <th>
                Release Date
            </th>
            <th>
                Rating
            </th>
            <th></th>
        </tr>
    </thead>
    <div>
        <form asp-page="CreateNewMovie" asp-page-handler="CreateNewMovie" method="get">
            <button class="btn btn-sm btn-success">
                Add Movie
            </button>
        </form>
        <form asp-page="Search" asp-page-handler="Search" method="get">
            <button class="btn btn-sm btn-success">
                Search
            </button>
            <input type="text" name="MovieName" value="" />
            <div class="error-message" style="font-size: 20px;" >
                <b>@TempData["ErrorMessage"]</b>
            </div>
        </form>
    </div>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                    min.
                </td>
                <td>
                    @Convert.ToDateTime(item.ReleaseDate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)%
                    
                </td>
                <td>
                    <form asp-page="Update" asp-page-handler="update" asp-route-id="@item.id" method="post">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Update
                        </button>
                    </form>
                </td>
                <td>
                    <form asp-page="Index" asp-page-handler="delete" asp-route-id="@item.id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
                <td>
                    <form asp-page="Actors" asp-page-handler="actors" asp-route-id="@item.id" method="post">
                        <button type="submit" class="btn btn-sm btn-info">
                            Actors
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
