@page
@model IndexModel
@{
    ViewData["Title"] = "Movie Database";
}

<form asp-page="Index" method="post">
    <div asp-validation-summary="All"></div>
    <div class="input-group">
        <div class="form-group mb-2">
            <input class="form-control" asp-for="MovieName" placeholder="Movie Name">
            <span asp-validation-for="MovieName" class="invalid-feedback"></span>
            <label></label>
            <input class="form-control" asp-for="Duration" placeholder="Duration">
            <span asp-validation-for="Duration" class="invalid-feedback"></span>
            <label></label>
            <input class="form-control" asp-for="ReleaseDate" placeholder="Release Date">
            <span asp-validation-for="ReleaseDate" class="invalid-feedback"></span>
            <label></label>
            <input class="form-control" asp-for="Rating" placeholder="Rating 0-10">
            <span asp-validation-for="Rating" class="invalid-feedback"></span>
            <label></label>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Save Movie</button>
</form>
<label></label>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <form asp-page="Update" asp-page-handler="update" asp-route-id="@item.id" method="post">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Update
                        </button>
                    </form>
                </td>
                <td>
                    <form asp-page="Index" asp-page-handler="delete" asp-route-id="@item.id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>